In [3]:
import pandas as pd
import os
import glob
import re
import numpy as np

In [6]:
path_to_data = '..//00_data/additional'

In [166]:
# Метеостанции
meteo_stations = [24538, 24641, 24643, 24661, 24671, 24713, 24726, 24738, 24763,
       24817, 24923, 24933, 24944, 24951, 24959, 24966, 24967, 30028,
       30054, 30069, 30089, 30219, 30230, 30252, 30253, 30328, 30337,
       30356, 30372, 30385, 30393, 30433, 30471, 30493, 31004, 31026,
       31102, 31137]

# Дополнительные метеостанции
# 30230 - Киренск
# 30054 - Витим
# 24923 - Ленск
# 24944 - Олекминск
# 24856 - Покровск
# 24959 - Якутск
# 24652 - Сангар
# 24656 - Батамай

extra_meteo_stations = [30230, 30054, 24923, 24944, 24856, 24959, 24652, 24656]

meteo_stations = meteo_stations+extra_meteo_stations

In [9]:
hydro_stations = [3019, 3021, 3024, 3027, 3028, 3029, 3030, 3031, 3032, 3035, 3036,
       3037, 3038, 3041, 3042, 3045, 3047, 3048, 3050, 3087, 3106, 3169,
       3180, 3229, 3230, 3554, 3555]

In [200]:
def reading_all_files(directory, list_of_stations):
    combined_file = pd.DataFrame()

    for file in file_list:
        file = os.path.join(files, file)
        if os.path.isfile(file):
            temp = list(filter(None, [re.split('\s+', i.strip('\n')) for i in open(file)]))
            temp_pd = pd.DataFrame(temp)

            combined_file = combined_file.append(temp_pd)
    return combined_file

## Snow

In [64]:
# List of all files to read in
#files = os.path.join(path_to_data, 'snow')
#file_list = glob.glob(files + '/*')

In [167]:
files = os.path.join(path_to_data, 'snow')

In [201]:
# Create a dataframe for meteostations
file_list = map(str, meteo_stations)

meteo_snow = reading_all_files(files, file_list)

In [202]:
#  KEY(U)        СТАНЦИЯ  FA(5)   PC(5);     // Индекс ВМО            
#  KEY(I)        ГОД      FA(5)   PC(4);     // Год                
#  KEY(I)        МЕСЯЦ    FA(3)   PC(2);     // Месяц              
#  KEY(I)        ДЕНЬ     FA(3)   PC(2);     // День        
#  MIT           СНЕПВЫСМ FC(5)   PC(4);     // Высота снежного покрова   
#  MIT           СНЕСТЕПВ FC(3)   PC(2);     // Степень покрытия окрестности станции снегом      
#  MIT           Q1       FC(2)   PC(1);     // Дополнительная информация о высоте снежного покрова 
#  MIT           Q2       FC(2)   PC(1);     // Признак качества по высоте снежного покрова 
#  MIT           Q3       FC(2)   PC(1);     // Дополнительная информация с учетом температуры воздуха 

#meteo_snow.columns = ['station_id', 'year', 'month', 'day', 'height_of_snow_cover',
#                        'how_much_snow_around', 'extra_info_about_snow_height',
#                         'some_property_of_snow_cover',
#                         'extra_info_about_snow_with_regard_to_air_temp'
#                        ]
meteo_snow.columns = ['station_id', 'Год', 'Месяц', 'День', 'Высота снежного покрова',
                        'Степень покрытия окрестности станции снегом', 'Дополнительная информация о высоте снежного покрова',
                         'Признак качества по высоте снежного покрова',
                         'Дополнительная информация с учетом температуры воздуха'
                        ]

In [204]:
meteo_snow.head(2)

,station_id,Год,Месяц,День,Высота снежного покрова,Степень покрытия окрестности станции снегом,Дополнительная информация о высоте снежного покрова,Признак качества по высоте снежного покрова,Дополнительная информация с учетом температуры воздуха
0,24538,1955,1,1,9999,99,9,0,0
1,24538,1955,1,2,9999,99,9,0,0

In [205]:
meteo_snow.tail(2)

,station_id,Год,Месяц,День,Высота снежного покрова,Степень покрытия окрестности станции снегом,Дополнительная информация о высоте снежного покрова,Признак качества по высоте снежного покрова,Дополнительная информация с учетом температуры воздуха
47390,24959,2020,1,30,34,10,0,0,0
47391,24959,2020,1,31,34,10,0,0,0

In [206]:
meteo_snow.shape

(1322200, 9)

In [207]:
meteo_snow['station_id'].value_counts()

24959    94784
24944    91254
30230    89910
30054    66720
24923    58502
24641    44284
24966    41211
30433    32173
30328    32142
31026    30712
24738    30712
30393    30712
30493    30681
31004    30346
24817    30316
30069    30300
30385    30041
24951    29981
24661    29981
30372    29981
30089    29616
30219    29585
24967    28490
30471    28214
24713    28124
30028    27759
31102    25598
30253    25568
24538    23711
24643    22982
24933    22311
24726    22311
30337    22280
30252    22280
31137    21215
30356    19754
24763    19754
24671    17905
Name: station_id, dtype: int64

In [208]:
meteo_snow.to_pickle(os.path.join(files, 'meteo_to_snow.pkl'))

In [209]:
# Create a dataframe for hydrostations
file_list = map(str, hydro_stations)

hydro_snow = reading_all_files(files, file_list)

In [210]:
hydro_snow.shape

(0, 0)

## Tpg

In [238]:
files = os.path.join(path_to_data, 'Tpg')

In [239]:
file_list = map(str, meteo_stations)
file_list = ['st_' + s +'.dat' for s in file_list]

meteo_tpg = reading_all_files(files, file_list)

In [240]:
meteo_tpg.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,24641,1964,1,1,9999,9,9999,9,9999,9,...,-100,0,-69,0,-42,0,9999,9,2,0
1,24641,1964,1,2,9999,9,9999,9,9999,9,...,-104,0,-71,0,-42,0,9999,9,1,0
2,24641,1964,1,3,9999,9,9999,9,9999,9,...,-107,0,-73,0,-44,0,9999,9,1,0
3,24641,1964,1,4,9999,9,9999,9,9999,9,...,-107,0,-74,0,-45,0,9999,9,1,0
4,24641,1964,1,5,9999,9,9999,9,9999,9,...,-107,0,-74,0,-46,0,9999,9,1,0

In [241]:
# FAMILY TPG F(102); 
#   KEY(U)        СТАНЦИЯ  FA(5)   PC(5);         // Индекс ВМО            
#   KEY(I)        ГОД      FA(5)   PC(4);         // Год                
#   KEY(I)        МЕСЯЦ    FA(3)   PC(2);         // Месяц              
#   KEY(I)        ДЕНЬ     FA(3)   PC(2);         // День        
#   MIT           T02      FA(5)   PC(5,1) D(1);  // Температура на глубине 2 см                     
#   CHA(T02)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T05      FA(5)   PC(5,1) D(1);  // Температура на глубине 5 см                     
#   CHA(T05)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T10      FA(5)   PC(5,1) D(1);  // Температура на глубине 10 см                    
#  CHA(T10)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T15      FA(5)   PC(5,1) D(1);  // Температура на глубине 15 см                    
#   CHA(T15)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T20      FA(5)   PC(5,1) D(1);  // Температура на глубине 20 см                    
#   CHA(T20)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T40      FA(5)   PC(5,1) D(1);  // Температура на глубине 40 см                    
#   CHA(T40)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T60      FA(5)   PC(5,1) D(1);  // Температура на глубине 60 см                    
#   CHA(T60)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T80      FA(5)   PC(5,1) D(1);  // Температура на глубине 80 см                    
#   CHA(T80)      Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T120     FA(5)   PC(5,1) D(1);  // Температура на глубине 120 см                   
#   CHA(T120)     Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T160     FA(5)   PC(5,1) D(1);  // Температура на глубине 160 см                   
#   CHA(T160)     Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T240     FA(5)   PC(5,1) D(1);  // Температура на глубине 240 см                   
#   CHA(T240)     Q        FA(2)   PC(1) NA;      // Признак качества              
#   MIT           T320     FA(5)   PC(5,1) D(1);  // Температура на глубине 320 см                   
#   CHA(T320)     Q        FA(2)   PC(1) NA;      // Признак качества
meteo_tpg.columns = ['station_id', 'Год', 'Месяц', 'День', 'Температура на глубине 2 см ',
                     'Признак качества 1',
                        'Температура на глубине 5 см',   'Признак качества 2', 
                     'Температура на глубине 10 см',
                       'Признак качества 3',
                         'Температура на глубине 15 см',
                       'Признак качества 4',
                         'Температура на глубине 20 см',
                       'Признак качества 5',
                     'Температура на глубине 40 см', 
                       'Признак качества 6',
                     'Температура на глубине 60 см',
                       'Признак качества 7',
                         'Температура на глубине 80 см',
                       'Признак качества 8',
                         'Температура на глубине 120 см',
                       'Признак качества 9',
                     'Температура на глубине 160 см',
                       'Признак качества 10',
                         'Температура на глубине 240 см',
                       'Признак качества 11',
                         'Температура на глубине 320 см',
                      'Признак качества 12']

In [242]:
meteo_tpg.to_pickle(os.path.join(files, 'meteo_to_tpg.pkl'))

## Tpgks

In [243]:
files = os.path.join(path_to_data, 'Tpgks')

In [244]:
file_list = map(str, meteo_stations)
file_list = ['st_' + s +'.dat' for s in file_list]

meteo_tpgks = reading_all_files(files, file_list)

In [245]:
meteo_tpgks.head()

      0     1  2  3     4  5     6  7     8  9     10 11
0  24713  1986  1  1  9999  9  9999  9  9999  9  9999  9
1  24713  1986  1  2  9999  9  9999  9  9999  9  9999  9
2  24713  1986  1  3  9999  9  9999  9  9999  9  9999  9
3  24713  1986  1  4  9999  9  9999  9  9999  9  9999  9
4  24713  1986  1  5  9999  9  9999  9  9999  9  9999  9

In [246]:
# FAMILY TPGKS F(49);

#    KEY(U)        СТАНЦИЯ   FA(5) PC(5);        // Координатный номер станции                    
#    KEY(I)        ГОД       FA(5) PC(4);        // Год                               
#    KEY(I)        МЕСЯЦ     FA(3) PC(2);        // Месяц                             
#    KEY(I)        ДЕНЬ      FA(3) PC(2);        // День                             
#    MIT           ТЕМП05    FC(5) PC(4);  	// Температура на глубине  5 см, увеличенная в 10 раз
#    CHA(ТЕМП05)   Q         FA(3) PC(2) NA;     // Признак качества
#    MIT           ТЕМП10    FC(5) PC(4);  	// Температура на глубине 10 см, увеличенная в 10 раз
#    CHA(ТЕМП10)   Q         FA(3) PC(2) NA;     // Признак качества
#    MIT           ТЕМП15    FC(5) PC(4);  	// Температура на глубине 15 см, увеличенная в 10 раз
#    CHA(ТЕМП15)   Q         FA(3) PC(2) NA;     // Признак качества
#    MIT           ТЕМП20    FC(5) PC(4);  	// Температура на глубине 20 см, увеличенная в 10 раз
#    CHA(ТЕМП20)   Q         FA(3) PC(2) NA;    	// Признак качества


meteo_tpgks.columns = ['station_id', 'Год', 'Месяц', 'День', 'Температура на глубине  5 см, увеличенная в 10 раз',
                     'Признак качества 1',
                        'Температура на глубине 10 см, увеличенная в 10 раз',   'Признак качества 2', 
                     'Температура на глубине 15 см, увеличенная в 10 раз', 'Признак качества 3',
                         'Температура на глубине 20 см, увеличенная в 10 раз', 'Признак качества 4']

In [247]:
meteo_tpgks.head()

,station_id,Год,Месяц,День,"Температура на глубине 5 см, увеличенная в 10 раз",Признак качества 1,"Температура на глубине 10 см, увеличенная в 10 раз",Признак качества 2,"Температура на глубине 15 см, увеличенная в 10 раз",Признак качества 3,"Температура на глубине 20 см, увеличенная в 10 раз",Признак качества 4
0,24713,1986,1,1,9999,9,9999,9,9999,9,9999,9
1,24713,1986,1,2,9999,9,9999,9,9999,9,9999,9
2,24713,1986,1,3,9999,9,9999,9,9999,9,9999,9
3,24713,1986,1,4,9999,9,9999,9,9999,9,9999,9
4,24713,1986,1,5,9999,9,9999,9,9999,9,9999,9

In [248]:
meteo_tpgks.shape

(222456, 12)

In [249]:
meteo_tpgks.to_pickle(os.path.join(files, 'meteo_to_tpgks.pkl'))

## SnMar

In [251]:
files = os.path.join(path_to_data, 'SnMar')

In [252]:
file_list = map(str, meteo_stations)

meteo_SnMar = reading_all_files(files, file_list)

In [253]:
#FAMILY SNMАR F(76); 

#  KEY(U)        СТАНЦИЯ  FA(5)   PC(5);        // Индекс ВМО            
#  KEY(I)        ГОД      FA(7)   PC(4);        // Год                
#  KEY(I)        МЕСЯЦ    FA(3)   PC(2);        // Месяц              
#  KEY(I)        ТИПМАРШ  FA(2)   PC(2);        // Тип маршрута              
#  KEY(I)        ДЕНЬ     FA(3)   PC(2);        // День        
#  MIT           СНЕСТЕПВ FC(3)   PC(2);        // Степень покрытия окрестности станции снегом      
#  MIT           СНЕСТПОК FC(3)   PC(2);        // Степень покрытия маршрута снегом 
#  MIT           СНЕСТПЛК FC(3)   PC(2);        // Степень покрытия маршрута ледяной коркой 
#  MIT           СНЕГСВЫС FC(5)   PC(4);        // Средняя высота снежного покрова на маршруте (см) 
#  MIT           СНЕВЫСМА FC(5)   PC(4);        // Наибольшая высота снежного покрова на маршруте (см)
#  MIT           СНЕВЫСМИ FC(5)   PC(4);        // Наименьшая высота снежного покрова на маршруте (см)
#  MIT           СНЕГСРПЛ FC(5,2) PC(4,2);      // Средняя плотность снега 
#  MIT           СНЕСРТЛК FC(4)   PC(3);        // Средняя толщина ледяной корки 
#  MIT           СНЕГТСНВ FC(4)   PC(3);        // Толщина слоя снега, насыщенного водой (мм) 
#  MIT           СНЕГТСЧВ FC(3)   PC(2);        // Толщина слоя чистой воды (мм) 
#  MIT           СПЗВСНЕГ FC(5)   PC(4);        // Запас воды в снеге (мм) 
#  MIT           СНПЗВОБЩ FC(5)   PC(4);        // Запас воды, общий (мм) 
#  MIT           СНЕГXАРЗ FC(2)   PC(1);        // Характер залегания снежного покрова 
#  MIT           СНЕГXАРП FC(2)   PC(1);        // Характер снежного покрова 

meteo_SnMar.columns = ['station_id', 'Год', 'Месяц', 'Тип маршрута', 'День', 
                       'Степень покрытия окрестности станции снегом',
                       'Степень покрытия маршрута снегом',
                       'Степень покрытия маршрута ледяной коркой',
                       'Средняя высота снежного покрова на маршруте (см)',
                       'Наибольшая высота снежного покрова на маршруте (см)',
                       'Наименьшая высота снежного покрова на маршруте (см)',
                       'Средняя плотность снега',
                       'Средняя толщина ледяной корки',
                       'Толщина слоя снега, насыщенного водой (мм)',
                       'Толщина слоя чистой воды (мм)',
                       'Запас воды в снеге (мм)',
                       'Запас воды, общий (мм)',
                       'Характер залегания снежного покрова',
                       'Характер снежного покрова']

In [254]:
meteo_SnMar.to_pickle(os.path.join(files, 'meteo_to_SnMar.pkl'))

## TTTR

In [255]:
files = os.path.join(path_to_data, 'TTTR')

In [256]:
file_list = map(str, meteo_stations)

meteo_TTTR = reading_all_files(files, file_list)

In [259]:
meteo_TTTR.head()

      0     1  2  3  4  5  6  7  8  9     10    11    12    13
0  24538  1955  1  1  9  9  9  9  9  9  None  None  None  None
1  24538  1955  1  2  9  9  9  9  9  9  None  None  None  None
2  24538  1955  1  3  9  9  9  9  9  9  None  None  None  None
3  24538  1955  1  4  9  9  9  9  9  9  None  None  None  None
4  24538  1955  1  5  9  9  9  9  9  9  None  None  None  None

In [261]:
#
#  KEY(U)        СТАНЦИЯ  FA(5)   PC(5);     // Индекс ВМО            
#  KEY(I)        ГОД      FA(5)   PC(4);     // Год                
#  KEY(I)        МЕСЯЦ    FA(3)   PC(2);     // Месяц              
#  KEY(I)        ДЕНЬ     FA(3)   PC(2);     // День        
#  MIT           QTTT     FA(2)   PC(1) NA;  // Общий признак качества температур                
#  MIT           ТЕВМИНСТ FC(6,1) PC(5,1);   // Минимальная температура воздуха  
#  CHA(ТЕВМИНСТ) Q        FA(2)   PC(1) NA;  // Признак качества                 
#  MIT           ТЕМВСРСТ FC(6,1) PC(5,1);   // Средняя температура воздуха      
#  CHA(ТЕМВСРСТ) Q        FA(2)   PC(1) NA;  // Признак качества                 
#  MIT           ТЕВМАКСТ FC(6,1) PC(5,1);   // Максимальная температура воздуха 
#  CHA(ТЕВМАКСТ) Q        FA(2)   PC(1) NA;  // Признак качества                 
#  MIT           ОСАДКОЛМ FC(6,1) PC(5,1);   // Количество осадков              
#  CHA(ОСАДКОЛМ) QО       FA(2)   PC(1) NA;  // Дополнительная характеристика   
#  CHA(ОСАДКОЛМ) Q        FA(2)   PC(1) NA;  // Признак качества
                                                                
meteo_TTTR.columns = ['station_id', 'Год', 'Месяц', 'День', 
                       'Общий признак качества температур',
                       ' Минимальная температура воздуха',
                       'Признак качества 1',
                       'Средняя температура воздуха',
                       'Признак качества 2',
                       'Максимальная температура воздуха',
                       'Признак качества 3',
                       'Количество осадков',
                      'Дополнительная характеристика',
                      'Признак качества 4']

In [262]:
meteo_TTTR.to_pickle(os.path.join(files, 'meteo_to_TTTR.pkl'))

## Reanalysis

In [271]:
#!pip install netCDF4
#!pip install xarray
#!pip install ncdump

In [11]:
import netCDF4 as nc
import xarray as xr

In [352]:
## Coordinates of the stations
meteo_coord = pd.read_csv('..//00_data/track_1/meteo_coord.csv')
meteo_coord.head(2)

   station_id      name        lat         lon      z
0       24538  ЧУМПУРУК  64.230000  116.920000  137.0
1       24641   ВИЛЮЙСК  63.753064  121.634998  111.0

In [353]:
extra_meteo_coord = [[30230, 57.8,  108.1], [30054,  59.4,  112.6], 
                     [24923,  60.7,  114.9], [24944,  60.4,  120.4],
                     [24959,  62,  129.7], [24652,  64,  127.5],
                     [24656,  63.5,  129.5]]


extra_meteo_coord = pd.DataFrame(extra_meteo_coord, columns = ['station_id', 'lat', 'lon'])
extra_meteo_coord.head(2)

   station_id   lat    lon
0       30230  57.8  108.1
1       30054  59.4  112.6

In [354]:
meteo_coord = meteo_coord[['station_id', 'lat', 'lon']].append(extra_meteo_coord, ignore_index=True)

In [13]:
# Координаты гидростанций
hydro_stations_coord = [[3019,  57.77,  108.07], 
[3027,  59.45,  112.58333333333333],
[3028,  59.65,  112.8],
[3029,  59.73,  113.17],
[3030,  60.72,  114.88],
[3035,  60.36666666666667,  120.41666666666667],
[3041,  61.47,  129.17],
[3045,  62.01370819444445,  129.66808830555556],
[3050,  63.96,  127.41],
[3230,  63.516666666666666,  129.48333333333332]]
hydro_stations_coord = pd.DataFrame(hydro_stations_coord, columns = ['station_id', 'lat', 'lon'])

In [2]:
# For each station select air according to the closest coordinate
def find_data_by_coordinates(list_of_files, list_of_stations):
    combined_dataframe = pd.DataFrame()
    for file in list_of_files:
        dataset = xr.open_dataset(file)
        for index, row in list_of_stations.iterrows():
            selected_rows = dataset.sel(lon = str(row['lon']), lat = str(row['lat']), method='nearest').to_dataframe().reset_index(drop = True)
            selected_rows['station_id'] = row['station_id']
            combined_dataframe = combined_dataframe.append(selected_rows)
    return combined_dataframe

### Daily Air temperature

In [7]:
files = os.path.join(path_to_data, 'ncer')
list_of_air_files = glob.glob(files + '/air*.nc')

In [8]:
list_of_air_files

['..//00_data/additional\\ncer\\air.1985.nc',
 '..//00_data/additional\\ncer\\air.1986.nc',
 '..//00_data/additional\\ncer\\air.1987.nc',
 '..//00_data/additional\\ncer\\air.1988.nc',
 '..//00_data/additional\\ncer\\air.1989.nc',
 '..//00_data/additional\\ncer\\air.1990.nc',
 '..//00_data/additional\\ncer\\air.1991.nc',
 '..//00_data/additional\\ncer\\air.1992.nc',
 '..//00_data/additional\\ncer\\air.1993.nc',
 '..//00_data/additional\\ncer\\air.1994.nc',
 '..//00_data/additional\\ncer\\air.1995.nc',
 '..//00_data/additional\\ncer\\air.1996.nc',
 '..//00_data/additional\\ncer\\air.1997.nc',
 '..//00_data/additional\\ncer\\air.1998.nc',
 '..//00_data/additional\\ncer\\air.1999.nc',
 '..//00_data/additional\\ncer\\air.2000.nc',
 '..//00_data/additional\\ncer\\air.2001.nc',
 '..//00_data/additional\\ncer\\air.2002.nc',
 '..//00_data/additional\\ncer\\air.2003.nc',
 '..//00_data/additional\\ncer\\air.2004.nc',
 '..//00_data/additional\\ncer\\air.2005.nc',
 '..//00_data/additional\\ncer\\air.2006.nc',
 '..//00_data/additional\\ncer\\air.2007.nc',
 '..//00_data/additional\\ncer\\air.2008.nc',
 '..//00_data/additional\\ncer\\air.2009.nc',
 '..//00_data/additional\\ncer\\air.2010.nc',
 '..//00_data/additional\\ncer\\air.2011.nc',
 '..//00_data/additional\\ncer\\air.2012.nc',
 '..//00_data/additional\\ncer\\air.2013.nc',
 '..//00_data/additional\\ncer\\air.2014.nc',
 '..//00_data/additional\\ncer\\air.2015.nc',
 '..//00_data/additional\\ncer\\air.2016.nc',
 '..//00_data/additional\\ncer\\air.2017.nc',
 '..//00_data/additional\\ncer\\air.2018.nc',
 '..//00_data/additional\\ncer\\air.2019.nc',
 '..//00_data/additional\\ncer\\air.2020.nc',
 '..//00_data/additional\\ncer\\air.2021.nc']

In [351]:
#all_air = nc.MFDataset(list_of_air_files)

In [313]:
#for dim in ds.dimensions.values():
#    print(dim)

In [ ]:
air_data = find_data_by_coordinates(list_of_air_files, hydro_stations_coord)

In [ ]:
air_data.to_pickle(os.path.join(files, 'hydro_to_air.pkl'))

## HGT

In [ ]:
list_of_hgt_files = glob.glob(files + '/hgt*.nc')

In [ ]:
hgt_data = find_data_by_coordinates(list_of_hgt_files, hydro_stations_coord)

In [ ]:
hgt_data.to_pickle(os.path.join(files, 'hydro_to_hgt.pkl'))

## Omega

In [ ]:
list_of_omega_files = glob.glob(files + '/omega*.nc')

In [ ]:
omega_data = find_data_by_coordinates(list_of_omega_files, hydro_stations_coord)

In [ ]:
omega_data.to_pickle(os.path.join(files, 'hydro_to_omega.pkl'))

## RHUM

In [ ]:
list_of_rhum_files = glob.glob(files + '/rhum*.nc')

In [ ]:
rhum_data = find_data_by_coordinates(list_of_rhum_files, hydro_stations_coord)

In [ ]:
rhum_data.to_pickle(os.path.join(files, 'hydro_to_rhum.pkl'))